<div class="col-md-12" id="main" style="width:800px;height:400px"></div>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>



<script type="text/javascript">




      // 路径配置
require.config({
  paths: {
    echarts: 'http://echarts.baidu.com/build/dist'
  }
});

// 使用
require(
  [
    'echarts',
    'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
  ],
  function (ec) {
    // 基于准备好的dom，初始化echarts图表
    var myChart = ec.init(document.getElementById('main')); 
    //设置数据
    option = {
    title : {
        text: '错误日志',
        subtext: '一周概况'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['mi文件错误','ms文件错误']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : [{{echarts_date|safe}}]
        }
    ],
    yAxis : [
        {
            type : 'value',
            axisLabel : {
                formatter: '{value} '
            }
        }
    ],
    series : [
        {
            name:'mi文件错误',
            type:'line',
            data:[{{ mi_data_str|safe }}],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'},
                    
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'ms文件错误',
            type:'line',
            data:[{{ ms_data_str|safe }}],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'},
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        }
    ]
};
                    

    // 为echarts对象加载数据 
    myChart.setOption(option); 
  }
);
</script>